<p id="notice"><%= notice %></p>



<div class = "container">
  <h2> search users  </h2>
<%= form_tag("/users",method: :get) do  %>
    <input type = "text" name = 'name'/><br><br>

    <input type = "submit" name = 'search', class: "btn btn-primary"/>
<%end%>
</div>

<div class="container">
  <table class="table">
    <h1>Listing Users</h1>
  <thead>
    <tr>
        <th> UserName </th>
        <th> Employee ID </th>
        <th> Mobile Number </th>
        <th> Email </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.emp_code %></td>
        <td><%=  user.mobile_number %></td>
        <td><%= user.email %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class = "container">
<%= link_to 'Back', shift_details_path, class: "btn btn-info" %>
<%= link_to 'New User', new_user_path, class: "btn btn-info" %>
