<div class="container">
  <div class="jumbotron">
    <h1> <%= current_user.name %>   Welcome to Roaster </h1>
  </div>
  <% if user_signed_in? %>
  <div class="row">
      <div class="col-sm-4">
        <h3><li><%= link_to "EditProfile", edit_user_registration_path %></li></h3>
      </div>
      <div class="col-sm-4">
        <h3><li><%= link_to "SignOut", destroy_user_session_path, method: :delete %></li></h3>

      </div>
      <div class="col-sm-4">
        <h3><li><%= link_to "Shift Details", shift_details_path %></li></h3>
      </div>
    </div>
  </div>
<% else %>
<div class="col-sm-4">
  <h3><li><%= link_to "SignUp", new_user_registration_path %></li></li></h3>
</div>
<div class="col-sm-4">
  <h3><li><%= link_to "SignIn", new_user_session_path %></li></li></h3>
</div>
<% end %>
